<h2 style="color:green">Lab: Working with a real world dataset using SQL and Python </b></h2>

<h3 style="color:blue">Introduction<strong></h3>

In this notebook we will perform following tasks,

    1. Understand dataset [Chicago Public School level performance]
    2. Learn how to store data in Db2 database on IBM Cloud instance
    3. Retrieve metadata about tables and columns and query data from mixed case columns
    4. Solve example problems

<h4>[A] Understand 'Chicago Public School level performance' dataset</h4>

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

__NOTE__: Do not download the dataset directly from City of Chicago portal. Instead download a more database friendly version from the link below.
Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

<h4>[B] Store the dataset into a Table</h4>

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

<h5> Connect to the database </h5>

In [1]:
%load_ext sql

In [2]:
# Esablish connection with the Db2 database on IBM Cloud instance

%sql ibm_db_sa://*********

'Connected: hrt90440@BLUDB'

<h5> Query database system catelog to retrieve table metadata </h5>

In [3]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
    where TABSCHEMA not in ('SYSIBM', 'SYSCAT','SYSSTAT','SYSIBMADM','SYSTOOLS','SYSPUBLIC')

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('HRT90440', 'INSTRUCTOR', datetime.datetime(2019, 7, 17, 1, 13, 8, 722992)),
 ('HRT90440', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2019, 7, 18, 1, 12, 26, 543568)),
 ('HRT90440', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2019, 7, 18, 3, 5, 56, 396127)),
 ('HRT90440', 'SCHOOLS', datetime.datetime(2019, 7, 18, 6, 34, 41, 166659))]

<h5> Query database system to retrieve the list of columns in CHICAGO_SCHOOLS table </h5>

In [4]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('SCHOOL_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 60),
 ('ELEMENTARY_MIDDLE_OR_HIGH_SCHOOL', 'CHARACTER', 1),
 ('STREET_ADDRESS', 'VARCHAR', 60),
 ('CITY', 'VARCHAR', 60),
 ('STATE', 'CHARACTER', 1),
 ('ZIP_CODE', 'VARCHAR', 60),
 ('PHONE_NUMBER', 'VARCHAR', 60),
 ('LINK', 'VARCHAR', 60),
 ('NETWORK_MANAGER', 'VARCHAR', 60),
 ('COLLABORATIVE_NAME', 'VARCHAR', 60),
 ('ADEQUATE_YEARLY_PROGRESS', 'VARCHAR', 60),
 ('TRACK_SCHEDULE', 'VARCHAR', 60),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 60),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 60),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 60),
 ('SAFETY_ICON', 'VARCHAR', 60),
 ('SAFETY_SCORE', 'VARCHAR', 60),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 60),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 60),
 ('RNVIRONMENT_ICON', 'VARCHAR', 60),
 ('ENVIRONMENT_SCORE', 'VARCHAR', 60),
 ('INSTRUCTION_ICON', 'VARCHAR', 60),
 ('INSTRUCTION_SCORE', 'VARCHAR', 60),
 ('LEADERS_ICON', 'VARCHAR', 60),
 ('LEADERS_SCORE', 'VARCHAR', 60),
 ('TEACHERS_ICON', 'VARCHAR', 60),
 ('TEACHERS_SCORE', 'VARCHAR', 60),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR', 60),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 60),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR', 60),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 60),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 60),
 ('RATE_OF_MISCONDUTS_PER_100_STUDENTS', 'VARCHAR', 60),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR', 60),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM', 'VARCHAR', 60),
 ('PK_2_LITERACY_%', 'VARCHAR', 60),
 ('PK_2_MATH_%', 'VARCHAR', 60),
 ('GR3_5_GRADE_LEVEL_MATH_%', 'VARCHAR', 60),
 ('GR_3_5_GRADE_LEVEL_READ_%', 'VARCHAR', 60),
 ('GR_3_5_KEEP_PACE_READ_%', 'VARCHAR', 60),
 ('GR_3_5_KEEP_PACE_MATH_%', 'VARCHAR', 60),
 ('GR_6_8_GRADE_LEVEL_READ_%', 'VARCHAR', 60),
 ('GR_6_8_KEEP_PACE_MATH_%', 'VARCHAR', 60),
 ('GR_6_8_KEEP_PACE_READ_%', 'VARCHAR', 60),
 ('GR_8_EXPLORE_MATH_%', 'VARCHAR', 60),
 ('GR_8_EXPLORE_RED_%', 'VARCHAR', 60),
 ('ISAT_EXCEEDING_MATH_%', 'VARCHAR', 60),
 ('ISAT_EXCEEDING_READING_%', 'VARCHAR', 60),
 ('ISAT_VALUE_ADD_MATH', 'VARCHAR', 60),
 ('ISAT_VALUE_ADD_READ', 'VARCHAR', 60),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 60),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 60),
 ('STUDENTS_TAKING_ALGEBRA_%', 'VARCHAR', 60),
 ('STUDENTS_PASSING_ALGEBRA_%', 'VARCHAR', 60),
 ('9TH_GRADE_EXPLORE_2010', 'VARCHAR', 60),
 ('10TH_GRADE_PLAN_2009', 'VARCHAR', 60),
 ('10TH_GRADE_PLAN_2010', 'VARCHAR', 60),
 ('NEXT_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 60),
 ('11_GRADE_AVERAGE_ACT_2011', 'VARCHAR', 60),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 60),
 ('COLLEGE_ELIGIBILITY_%', 'VARCHAR', 60),
 ('GRADUATION_RATE_%', 'VARCHAR', 60),
 ('COLLEGE_ENROLLEMENT', 'VARCHAR', 60),
 ('GENERAL_SERVICES_ROUTE', 'VARCHAR', 60),
 ('FRESHMAN_ON_TRACK_RATE_%', 'VARCHAR', 60),
 ('X_COORDINATE', 'VARCHAR', 60),
 ('Y_COORDINATE', 'VARCHAR', 60),
 ('LATITUDE', 'VARCHAR', 60),
 ('LONGITUDE', 'VARCHAR', 60),
 ('COMMUNITY_AREA_NUMBER', 'VARCHAR', 60),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 60),
 ('WARD', 'VARCHAR', 60),
 ('POLICE_DISTRICT', 'VARCHAR', 60),
 ('LOCATION', 'VARCHAR', 60)]

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [5]:
%sql select count(*) from SCHOOLS where ELEMENTARY_MIDDLE_OR_HIGH_SCHOOL='E'

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

### Problem 2

##### What is the highest Safety Score?

In [6]:
%sql select max(SAFETY_SCORE) from SCHOOLS

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('99',)]

### Problem 3

##### Which schools have highest Safety Score?

In [7]:
%sql select NAME_OF_SCHOOL, SAFETY_SCORE from SCHOOLS\
where SAFETY_SCORE = (select max(SAFETY_SCORE) from SCHOOLS)

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Northside Learning Center High School', '99'),
 ('Northside College Preparatory High School', '99'),
 ('Alexander Graham Bell Elementary School', '99'),
 ('James G Blaine Elementary School', '99'),
 ('Augustus H Burley Elementary School', '99'),
 ('Stephen Decatur Classical Elementary School', '99'),
 ('Edgebrook Elementary School', '99'),
 ('LaSalle Elementary Language Academy', '99'),
 ('Abraham Lincoln Elementary School', '99'),
 ('James E McDade Elementary Classical School', '99'),
 ('Ellen Mitchell Elementary School', '99'),
 ('Annie Keller Elementary Gifted Magnet School', '99'),
 ('Norwood Park Elementary School', '99'),
 ('Oriole Park Elementary School', '99'),
 ('Edgar Allan Poe Elementary Classical School', '99'),
 ('Sauganash Elementary School', '99'),
 ('Wildwood Elementary School', '99'),
 ('Talman Elementary School', '99'),
 ('Mary E Courtenay Elementary Language Arts Center', '99')]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [8]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS order by AVERAGE_STUDENT_ATTENDANCE desc nulls last limit 10;

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [9]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS\
order by AVERAGE_STUDENT_ATTENDANCE limit 5;

# %sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS\
# order by AVERAGE_STUDENT_ATTENDANCE fetch first 5 rows only;

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [10]:
%sql select NAME_OF_SCHOOL, replace(AVERAGE_STUDENT_ATTENDANCE, '%', '')\
from SCHOOLS order by AVERAGE_STUDENT_ATTENDANCE fetch first 5 rows only

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [11]:
%sql select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS\
where  decimal(replace(AVERAGE_STUDENT_ATTENDANCE, '%','')) <70

 * ibm_db_sa://hrt90440:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('Chicago Vocational Career Academy High School', '68.80%'),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Dyett High School', '62.50%'),
 ('Roberto Clemente Community Academy High School', '69.60%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Orr Academy High School', '66.30%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [12]:
#%sql select COMMUNITY_AREA_NAME, sum(COLLEGE_ENROLLEMENT) as TOTAL_ENROLLMENT from SCHOOLS group by COMMUNITY_AREA_NAME;

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [13]:
# %sql select COMMUNITY_AREA_NAME, sum(COLLEGE_ENROLLEMENT) as TOTAL_ENROLLMENT from SCHOOLS\
# group by COMMUNITY_AREA_NAME order by TOTAL_ENROLLMENT fetch first 5 rows only

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4638

In [14]:
# %sql select HARDSHIP_INDEX from CHICAGO_SOCIOECONOMIC_DATA CD, SCHOOLS CPS\
# where CD.CA = CPS.COMMUNITY_AREA_NUMBER AND COLLEGE_ENROLLEMENT = 4368

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [15]:
# %sql select CA, COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CHICAGO_SOCIOECONOMIC_DATA\
# where CA in (select COMMUNITY_AREA_NUMBER from SCHOOLS order by COLLEGE_ENROLLMEMNT desc limit 1)